<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>이벤트 페이지 개인정보 처리 방침</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

</head>
<body>

<h1 class ="logo" style="text-align: center; padding: 10px 0 0 0;"><a href="/userregist"><img src ="https://portal.koreatech.ac.kr/images/logo_n.png" width="270px" height="60px"></a></h1>

<div class="section_term" id="con_box">
    <div class="term_box">
        <div  style="font-size:20px;"> <b> 개인정보 수집 및 이용에 대한 안내</b> </div>
        <br/>
        <div class="term_txt">
            <div>
                <h3>1. 개인정보의 수집 및 이용 목적 </h3><br/>
                "미래교육혁신처"는 개인정보를 다음의 목적을 위해 처리하며, 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 예정입니다.<br/><br/>
                ① 이벤트 운영에 따른 관리<br/>
                &nbsp;&nbsp;- 제한적 본인 확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만14세 미만 아동 개인정보 수집 시 법정대리인 동의 여부 확인, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.<br/><br/>
                ② 민원사무 처리<br/>
                &nbsp;&nbsp;- 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인 정보를 처리합니다.<br/><br/>
                ③ 재화 또는 서비스 제공<br/>
                &nbsp;&nbsp;- 서비스 제공, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증 등을 목적으로 개인정보를 처리합니다.<br/><br/>
                ④ 마케팅 및 광고에의 활용<br/>
                &nbsp;&nbsp;- 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 인구통계 학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.<br/><br/>
            </div>

            <div>
                <h3>2. 수집하려는 개인정보의 항목 </h3><br/>
                ① 일반회원 가입시 수집하는 개인정보 항목<br/>
                &nbsp;&nbsp;- 필수정보 : 이름, 휴대폰번호<br/>
                ② 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.<br/>
                &nbsp;&nbsp;- 방문일시, 서비스 이용기록, 불량이용 기록<br/><br/>
            </div>

            <div>
                <h3>3. 개인정보의 보유 및 이용기간 </h3><br/>
                민원사무 처리, 재화 또는 서비스 제공, 마케팅 및 광고에의 활용과 관련한 개인정보는 수집, 이용에 관한 동의일로부터까지 위 이용목적을 위하여 보유 및 이용됩니다.<br/>
                ① 보유 및 이용기간 : 이벤트 종료 후 1년 까지<br/>
                ② 보유근거 : 정보주체의 동의<br/>
                ③ 관련법령 : 개인정보보호법 제15조 (개인정보의 수집·이용), 공공기록물관리에 관한 법률 시행령 제26조 1항(보존기간)<br/><br/>
            </div>
        </div>
        <br/>
        <div  style="font-size:20px;"> <b> 개인정보의 3자제공에 대한 안내</b> </div>
        <br/>
        <div class="term_txt">
            <div>
                <h3>미래교육혁신처는 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</h3><br/>
            </div>

            <div>
                미래교육혁신처는 원칙적으로 정보주체의 개인정보를 본래의 목적 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다.<br/>
                단, 다음의 경우에는 개인정보를 제3자에게 제공할 수 있습니다.<br/>
                ① 정보주체로부터 별도의 동의를 받은 경우, 다른 법률에 특별한 규정이 있는 경우<br/>
                ② 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우<br/>
                ③ 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우<br/>
                ④ 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 아니하면 다른 법률에서 정하는 소관 업무를 수행할 수 없는 경우로서 보호위원회의 심의•의결을 거친 경우<br/>
                ⑤ 조약, 그 밖의 국제협정의 이행을 위하여 외국정부 또는 국제기구에 제공하기 위하여 필요한 경우<br/>
                ⑥ 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우<br/>
                ⑦ 법원의 재판업무 수행을 위하여 필요한 경우<br/>
                ⑧ 형(刑) 및 감호, 보호처분의 집행을 위하여 필요한 경우<br/>
                ※ 단, 정보주체 또는 제3자의 이익을 부당하게 침해할 우려가 있는 경우에는 제외<br/><br/>

                미래교육혁신처는 이용자의 개인정보를 제3자에게 제공하는 경우, 반드시 사전에 합당한 절차를 통하여 다음 각 호의 사항을 상세히 기재하여 이용자의 동의를 구하겠습니다.<br/>
                ① 개인정보를 제공받는 자<br/>
                ② 개인정보 이용목적(제공 시에는 제공받는 자의 이용목적을 말한다.)<br/>
                ③ 이용 또는 제공하는 개인정보의 항목<br/>
                ④ 개인정보의 보유 및 이용 기간(제공 시에는 제공받는 자의 보유 및 이용기간을 말한다.)<br/>
                ⑤ 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용<br/><br/>
            </div>

        </div>
    </div>
</div>

<div class="section" id="footer">
    <div class="content">
        <p><a href="/userregist"> 사용자 입력 화면으로 돌아가기 </a></p>
        <p class="copyright">ⓒ 2023 KOREA UNIVERSITY OF TECHNOLOGY AND EDUCATION.</p>
    </div>
</div>

</body>
</html>