body {
  padding: 5vw;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-size:cover;
  background-position:50%;
}

a {
  color: #00b7ff;
}

@media (min-width: 300px) {
  .explain{
    display: none;
  }
  #spot-id03 img{
    height: 150px;
    max-width: 100%;
  }
  .line_width {
    width: 100%;
  }
  body{
    font-size: 0.8rem;
  }
  .BigFont{
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  #spot-id03 img{
    height: 200px;
    max-width: 100%
  }
  .BigFont{
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .explain{
    display: block;
  }
  #spot-id03 img{
    height: 300px;
    max-width: 90%
  }
  .line_width{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  body{
    font-size: 0.9rem;
  }
  .BigFont{
    font-size: 4rem;
  }
}

.bodyclass {
  width: 100%;
}


.swiper-wrapper{
  height: 3rem;
  display: flex;
  float:left;
  width: 100%;

  justify-content: space-between;
}
.swiper-pagination{
  position: relative !important;
}

.swiper-container{
  overflow: hidden;
}